#container_about{
	width: 100%;
	height: auto;
	@include rem-fallback(padding,5,5,10,5);
	vertical-align: top;
	text-align: left;
	
	section{
		width: 924px;
		height: auto;
		z-index: 0;
		margin: 0 auto;

	}
	article{
		width: 100%;
		height: auto;
		text-align:left;
		vertical-align: top; 
		white-space: nowrap;
		border-bottom: 1px solid $color1;
		@include rem-fallback(margin-bottom,1.5);

		div{
			width: 60%;
			height: auto;
			display: inline-block;
			white-space: normal;
			@include rem-fallback(padding,0,0,3,2);
			img{
				border-radius:0;
				text-align: center;
				display: inline-block;
				width: 100%;
				height:auto;
			}
			ul{
				@include rem-fallback(padding, 0,0,2,3);
			}
		}
		img{
			width: 20%;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			display: inline-block;
			vertical-align: top;
			-webkit-box-shadow: 0px -1px 2px 0px rgba(50, 50, 50, 0.75);
			-moz-box-shadow:    0px -1px 2px 0px rgba(50, 50, 50, 0.75);
			box-shadow:0px -1px 2px 0px rgba(50, 50, 50, 0.75);
		}
	}
	p{
		@include rem-fallback(padding-bottom, 1.5);
	}
	
	h4{
		@include rem-fallback(padding-bottom, 3);
	}

}
#cabecera{
		display:block;
		width: 100%;
		z-index: 1;
		margin: 240px auto 0;
		position: relative;
		background: rgb(230, 230, 230);
		img{
			@include rem-fallback(width, 40);
			display: block;
			margin: 0 auto;
		}
		h3{
			@include rem-fallback(width, 92.4);
			display: block;
			margin: 0 auto;
	}
}
