#container_about{
	width: 100%;
	height: auto;
	@include rem-fallback(padding,5,5,10,5);
	vertical-align: top;
	text-align: left;
	
	section{
		width: 924px;
		height: auto;
		z-index: 0;

	}
	article{
		width: 100%;
		height: auto;
		text-align:left;
		vertical-align: top; 
		white-space: nowrap;
		border-bottom: 1px solid $color1;
		@include rem-fallback(margin-bottom,1.5);

		div{
			width: 70%;
			height: auto;
			display: inline-block;
			white-space: normal;
			@include rem-fallback(padding,0,0,3,2);
		}
		img{
			width: 30%;
			display: inline-block;
			vertical-align: top;
			-webkit-box-shadow: 0px -1px 2px 0px rgba(50, 50, 50, 0.75);
			-moz-box-shadow:    0px -1px 2px 0px rgba(50, 50, 50, 0.75);
			box-shadow:0px -1px 2px 0px rgba(50, 50, 50, 0.75);
		}
	}
	p{
		@include rem-fallback(padding-bottom, 1.5);
	}
	
	h4{
		@include rem-fallback(padding-bottom, 3);
	}

}
#cabecera{
		display:block;
		width: 100%;
		z-index: 0;
		@include rem-fallback(height, 35);
		@include rem-fallback(margin-top, 14);
		position: relative;
		background-color: #C0C0C0;
		h3{
			position: absolute;
			bottom: 0;
			left: 50px;
			z-index: 2;
	}
}

