/*Theme´s color_____________________________________________________________________*/

$color1: #CB1417;/*rojo rgba(203,20,23,0),rgb(203,20,23) */
$color2:#F6A400;/*amarillo rgba(246,164,0,0),rgb(246,164,0), */
$color3:#575756;/*gris, neutro rgba(87,87,86,0),rgb(87,87,86),*/

/* Fonts_________________________________________________________*/

$font-body:'gentium' ;
$font-titular: 'museo';

/* interactivity__________________________________________________*/  
	
