// template category_a
.section_wine{
	h3{
		width: 100%;
		@include rem-fallback(height, 5);
		border-bottom: 1px $color1 inset;
		@include rem-fallback(line-height,5);
		position: relative;
		img{
			position: absolute;
			top:100%;
			right: 0;
			width: 19%;
		}
	}
	h5{
		margin: 0;
	}
	.item_collection{
		@include rem-fallback(width, 65.4);
		height:auto;
		display: inline-block;
		@include rem-fallback(margin-bottom,4);
		border-bottom: 1px $color1 inset;
		text-align: left;
		position: relative;
		@include rem-fallback(padding,0,0,4,0);
		@include rem-fallback(margin,0,0,4,0);
		h5{
			margin: 0;
		}
		a{
			display: block;
			&:hover{
				color: #878A77;
				h4,h5 {
				color:#878A77;
				}
			}
		}
	}	
	.item_single{
		@include rem-fallback(width, 65.4);
		height:auto;
		display: inline-block;
		@include rem-fallback(margin-bottom,4);
		border-bottom: 1px $color1 inset;
		text-align: left;
		position: relative;
		@include rem-fallback(padding,0,0,4,0);
		@include rem-fallback(margin,0,0,4,0);
		white-space: nowrap;
		display: block;

		h5{
			margin: 0;
		}
		div{
			display: inline-block;
			white-space: normal;
			@include rem-fallback(width, 50);
			p{
			white-space: normal;
			 &:last-child{
			 	padding-bottom: 0;
			 }
			}
		}
		img{
			display: inline-block;
			vertical-align: top;
		}
		a{
			display: block;
			&:hover{
				color: #878A77;
				h4,h5 {
				color:#878A77;
				}
			}
		}
	}

	.uds{
		width: 100%;
		height: auto;
		white-space: nowrap;
		text-align: center;
		vertical-align: top;
		div{
			display:inline-block;
			vertical-align: top;
			width: 25%;
			height: auto;
			white-space: normal;
			&.three{
				width: 33%;
			}
			&.two{
				width: 50%;
			}
			p{
				@include rem-fallback(font-size, 1.5);
				color: $color3;
				text-align: center;
				line-height: 1.2em;
			}

		}


	}
}
.section_oil{
	h3{
		img{
			position: absolute;
			top: -44%;
			left: 85%;
			width: 22%;
		}
	}
	.img_product{
		width:50%;
		@include rem-fallback(height,45);
		img{
			margin: 0;
		}
	}
	.legend{
		width:50%;
		overflow-y:visible;
	}
	.list{

		li{
			text-decoration: underline;
			font-family: 'gentium-bold';
			cursor: pointer;
		}
	}
}


.section_cosmetic{
	h5{
		margin:0;
	}
	h3{
		@include rem-fallback(height, 12);
		img{
			position: absolute;
			top: 100%;
			left: 85%;
			width: 22%;
		}
	}
	.collection{
		li{
			width: 16%;
			height: auto;
		}
		a{
			@include rem-fallback(height,6);
		}
	}
}
.section_gourmet{
	h5{
		margin:0;
	}
	h3{
		position: relative;
		img{
			position: absolute;
			top: -145%;
			right: -2%;
			width: 28%;
		}
	}
}