// template product
//product

.item_detail{
	
	width: 100%;
	@include rem-fallback(height,45);
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
	@include rem-fallback(margin,0,0,3,0);
	color:#FFFFFF;
	overflow: hidden;
	div{
		display: inline-block;
		overflow-y: scroll;
		@include rem-fallback(width,38);
		height: 100%;
		background: $color1;
		color: #FFFFFF;
		vertical-align: top;
		white-space: normal;
		@include rem-fallback(padding,2);
	}
	img{
		display: inline-block;
		vertical-align: middle;
	}
	h5{
		margin: 0;
		color:#FFFFFF;
	}
}
.img_product{
		display: inline-block;
		vertical-align: middle;
		@include rem-fallback(width,18.4);
		height: 100%;
		overflow: hidden;
		position:relative;
		img{
			width: 100%;
			display: block;
			margin: 0 auto;
			margin-left: -16%;
		}
}
.collection {
	width: 100%;
	ul {
	width: 100%;
	height: auto;
	display: inline-block;
	text-align: left;
	white-space: nowrap;
	z-index:1
	}
	li{
		width: 160px;
		height: auto;
		border: 1px solid #C6C6C5;
		@include rem-fallback(padding, 1);
		text-align: center;
		box-sizing:border-box;
		cursor: pointer;
		white-space: normal;
		display: inline-block;
		vertical-align: top;
		&:hover {
			border: 4px solid #C01113;
		}
		img,a {
			display:block;
		}
		img {
			max-height: 168px;
			margin: 0 auto;
		}
		&.active {
			border: 4px solid #C01113;
		}
		a{
				@include rem-fallback(font-size, 1.5);
				color: $color3;
				text-align: center;
				line-height: 1.2em;
				display: block;
				@include rem-fallback(height,4);
		}
		p{
			a{
				text-decoration: overline;
			}
		}
	}

}
.itemInfo {
	display: none;
}
.list{
	width: 100%;
	height: auto;
	@include rem-fallback(padding,2.5);
	@include rem-fallback(margin-bottom, 5);
	background-color: #F2F7FC;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #CBD9E4;
	color:$color3;
	li{
		width: inherit;
		height: inherit;
		@include rem-fallback(padding,0,0,2.5,0);
		display: inline-block;
	}
	li:first-line{
		text-decoration: underline;
		@include rem-fallback(font-size,1.8);
		font-family: 'gentium-bold';
		@include rem-fallback(padding-bottom, 1);
	}
}
.product_single{
	width: 100%;
	height: auto;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
	@include rem-fallback(margin,0,0,3,0);
	color:#FFFFFF;
	.legend{
		display: inline-block;
		@include rem-fallback(width,47);
		@include rem-fallback(height,45);
		background: $color1;
		color: #FFFFFF;
		vertical-align: top;
		white-space: normal;
		@include rem-fallback(padding,2);
		overflow-y:scroll;
	}
	h5{
		margin: 0;
		color:#FFFFFF;
	}
	.img_product{
		display: inline-block;
		vertical-align: middle;
		@include rem-fallback(width,18.4);
		height: 100%;
		overflow: hidden;
		position:relative;
		img{
			width: 100%;
			display: block;
			margin: 0 auto;
			margin-left: -16%;
		}
	}
}
.section_cosmectics{
	.item_detail{
		div{
		@include rem-fallback(width,40);
		}
		img{
			@include rem-fallback(width,25.4);
		}
	}
}
table{
	width:100%;
	height: auto;
	border:1px solid #C0C0C0;
	border-collapse: collapse;
	th,td{
		width: 25%;
		text-align: left;
		border:1px solid #C0C0C0;
		border-collapse: collapse;
		@include rem-fallback(padding,0.2,0.5);
	}
}