@charset "CP850";
/*tamaño fuento body*/
/*Font-Face*/
/*typo de cuerpo de texto*/
@font-face {
  font-family: 'gentium-bold';
  src: url("fonts/genbasb-webfont.eot");
  src: url("fonts/genbasb-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/genbasb-webfont.woff") format("woff"), url("fonts/genbasb-webfont.ttf") format("truetype"), url("fonts/genbasb-webfont.svg#webfont") format("svg");
}

@font-face {
  font-family: 'gentium';
  src: url("fonts/genbasr-webfont.eot");
  src: url("fonts/genbasr-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/genbasr-webfont.woff") format("woff"), url("fonts/genbasr-webfont.ttf") format("truetype"), url("fonts/genbasr-webfont.svg#webfont") format("svg");
}

/*Typo para enfatizar */
@font-face {
  font-family: 'museo';
  src: url("fonts/museo_slab_500_2-webfont.eot");
  src: url("fonts/museo_slab_500_2-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/museo_slab_500_2-webfont.woff") format("woff"), url("fonts/museo_slab_500_2-webfont.ttf") format("truetype"), url("fonts/museo_slab_500_2-webfont.svg#webfont") format("svg");
}

/*Typo brand */
@font-face {
  font-family: 'arimo';
  src: url("fonts/arimo-italic-webfont.eot");
  src: url("fonts/arimo-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/arimo-italic-webfont.woff") format("woff"), url("fonts/arimo-italic-webfont.ttf") format("truetype"), url("fonts/arimo-italic-webfont.svg#webfont") format("svg");
}

/* line 4, ../sass/main.scss */
html {
  font-size: 62.5%;
}

/*Mixins*/
/*Mixing para centrar con transform*/
/*Usar utilidades de compass*/
/* apply a natural box layout model to all elements 
(if supporting <IE8, use a pollyfill: https://github.com/Schepp/box-sizing-polyfill ) */
/* line 50, ../sass/main.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Normalizar estilo de todos los navegadores */
/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 22, ../sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 32, ../sass/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 41, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
/* line 52, ../sass/_normalize.scss */
[hidden],
template {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 66, ../sass/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 76, ../sass/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 88, ../sass/_normalize.scss */
a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 96, ../sass/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 105, ../sass/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 118, ../sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 127, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 136, ../sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 144, ../sass/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 152, ../sass/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 162, ../sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 174, ../sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 183, ../sass/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 191, ../sass/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 199, ../sass/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 208, ../sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 215, ../sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 219, ../sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 231, ../sass/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 239, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 251, ../sass/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 263, ../sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 274, ../sass/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 288, ../sass/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 300, ../sass/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 312, ../sass/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 327, ../sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 337, ../sass/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 347, ../sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 358, ../sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 371, ../sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 380, ../sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 390, ../sass/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 403, ../sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* reseteo */
/* line 1, ../sass/_reset.scss */
h1, h2, h3, h4, ul, li, body, html, div, p, a {
  margin: 0;
  padding: 0;
}

/* line 5, ../sass/_reset.scss */
ul, li {
  list-style: none;
}

/* line 8, ../sass/_reset.scss */
a {
  text-decoration: none;
  color: #000000;
}

/* line 12, ../sass/_reset.scss */
img {
  border: none;
  max-width: 100%;
  height: auto;
}

/*interactividad scroll-top */
/*guía de estilos, variables */
/*Theme´s color_____________________________________________________________________*/
/*rojo rgba(203,20,23,0),rgb(203,20,23) */
/*amarillo rgba(246,164,0,0),rgb(246,164,0), */
/*gris, neutro rgba(87,87,86,0),rgb(87,87,86),*/
/* Fonts_________________________________________________________*/
/* interactivity__________________________________________________*/
/*Estructura*/
/* de estilos*/
/* line 4, ../sass/_template.scss */
.titulos-section {
  font-family: "museo";
  font-size: 60px;
  font-size: 6rem;
  font-weight: normal;
  color: #cb1417;
}

/* line 10, ../sass/_template.scss */
.titulos-b {
  font-family: "museo";
  font-size: 40px;
  font-size: 4rem;
  color: #cb1417;
  font-weight: normal;
}

/* line 16, ../sass/_template.scss */
.titulos-c {
  font-family: "museo";
  font-size: 24px;
  font-size: 2.4rem;
  color: #cb1417;
  font-weight: normal;
}

/* line 22, ../sass/_template.scss */
.titulos-d {
  font-family: "museo";
  font-size: 20px;
  font-size: 2rem;
  color: #cb1417;
  font-weight: normal;
}

/* line 28, ../sass/_template.scss */
.subtitulos {
  font-family: "gentium";
  font-size: 20px;
  font-size: 2rem;
  color: #cb1417;
}

/* line 33, ../sass/_template.scss */
.cuerpo_a {
  font-family: "gentium";
  font-size: 16px;
  font-size: 1.6rem;
  color: #000000;
}

/* line 38, ../sass/_template.scss */
.cuerpo_b {
  font-family: "gentium";
  font-size: 18px;
  font-size: 1.8rem;
  color: #000000;
  line-height: 1.4em;
}

/* line 44, ../sass/_template.scss */
.cuerpo_c {
  font-family: "museo";
  font-size: 16px;
  font-size: 1.6rem;
  color: #000000;
}

/* line 49, ../sass/_template.scss */
.cuerpo_d {
  font-family: "gentium";
  font-size: 20px;
  font-size: 2rem;
  color: #cb1417;
}

/* line 55, ../sass/_template.scss */
.btn {
  display: block;
  width: 170px;
  width: 17rem;
  height: 35px;
  height: 3.5rem;
  font-family: "museo";
  text-shadow: 1px 0px 0px black;
  font-size: 24px;
  font-size: 2.4rem;
  color: #FFFFFF;
  background-color: #ea1f22;
  border: 0px solid #000000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  line-height: 35px;
}

/* line 71, ../sass/_template.scss */
.btn:hover {
  color: #cb1417;
  background-color: #f5f500;
  /* Old Browsers */
}

/* line 76, ../sass/_template.scss */
.icon_a, .icon_b, .icon_c, .icon_d, .icon_e {
  display: inline-block;
  width: 48px;
  width: 4.8rem;
  height: 48px;
  height: 4.8rem;
  background-repeat: no-repeat;
  text-align: left;
  overflow: hidden;
}

/* line 86, ../sass/_template.scss */
.icon_a {
  background: url("../images/sprite.png") 0 0;
}

/* line 90, ../sass/_template.scss */
a:hover .icon_a {
  background: url("../images/sprite.png") 0 -48px;
}

/* line 94, ../sass/_template.scss */
.icon_b {
  background: url("../images/sprite.png") -48px 0;
}

/* line 98, ../sass/_template.scss */
a:hover .icon_b {
  background: url("../images/sprite.png") -48px -48px;
}

/* line 102, ../sass/_template.scss */
.icon_c {
  background: url("../images/sprite.png") -96px 0;
}

/* line 106, ../sass/_template.scss */
a:hover .icon_c {
  background: url("../images/sprite.png") -96px -48px;
}

/* line 110, ../sass/_template.scss */
.icon_d {
  background: url("../images/sprite.png") -144px 0;
}

/* line 114, ../sass/_template.scss */
a:hover .icon_d {
  background: url("../images/sprite.png") -144px -48px;
}

/* line 118, ../sass/_template.scss */
.icon_e {
  background: url("../images/sprite.png") -192px 0;
}

/* line 122, ../sass/_template.scss */
a:hover .icon_e {
  background: url("../images/sprite.png") -192px -48px;
}

/* line 126, ../sass/_template.scss */
.icon_f {
  background: url("../images/sprite.png") -240px 0px;
}

/* line 129, ../sass/_template.scss */
.icon_g {
  background: url("../images/sprite.png") -294px -14px;
}

/* line 132, ../sass/_template.scss */
.icon_h {
  background: url("../images/sprite.png") -342px -14px;
}

/* line 136, ../sass/_template.scss */
.P40 {
  padding: 40px;
  padding: 4rem;
}
/* line 138, ../sass/_template.scss */
.P40.PTop {
  padding: 40px 0px 0px 0px;
  padding: 4rem 0rem 0rem 0rem;
}
/* line 141, ../sass/_template.scss */
.P40.PBot {
  padding: 0px 0px 40px 0px;
  padding: 0rem 0rem 4rem 0rem;
}
/* line 144, ../sass/_template.scss */
.P40.PLeft {
  padding: 0px 0px 0px 40px;
  padding: 0rem 0rem 0rem 4rem;
}
/* line 147, ../sass/_template.scss */
.P40.PSide {
  padding: 0px 40px 0px 40px;
  padding: 0rem 4rem 0rem 4rem;
}

/* line 151, ../sass/_template.scss */
.P30 {
  padding: 30px;
  padding: 3rem;
}
/* line 153, ../sass/_template.scss */
.P30.PTop {
  padding: 30px 0px 0px 0px;
  padding: 3rem 0rem 0rem 0rem;
}
/* line 156, ../sass/_template.scss */
.P30.PBot {
  padding: 0px 0px 30px 0px;
  padding: 0rem 0rem 3rem 0rem;
}
/* line 159, ../sass/_template.scss */
.P30.PLeft {
  padding: 0px 0px 0px 30px;
  padding: 0rem 0rem 0rem 3rem;
}
/* line 162, ../sass/_template.scss */
.P30.PSide {
  padding: 0px 50px 0px 30px;
  padding: 0rem 5rem 0rem 3rem;
}

/* line 166, ../sass/_template.scss */
.P20 {
  padding: 20px;
  padding: 2rem;
}
/* line 168, ../sass/_template.scss */
.P20.PTop {
  padding: 20px 0px 0px 0px;
  padding: 2rem 0rem 0rem 0rem;
}
/* line 171, ../sass/_template.scss */
.P20.PBot {
  padding: 0px 0px 20px 0px;
  padding: 0rem 0rem 2rem 0rem;
}
/* line 174, ../sass/_template.scss */
.P20.PLeft {
  padding: 0px 0px 0px 20px;
  padding: 0rem 0rem 0rem 2rem;
}
/* line 177, ../sass/_template.scss */
.P20.PSide {
  padding: 0px 20px 0px 20px;
  padding: 0rem 2rem 0rem 2rem;
}

/* line 181, ../sass/_template.scss */
.P15 {
  padding: 15px;
  padding: 1.5rem;
}
/* line 183, ../sass/_template.scss */
.P15.PTop {
  padding: 15px 0px 0px 0px;
  padding: 1.5rem 0rem 0rem 0rem;
}
/* line 186, ../sass/_template.scss */
.P15.PBot {
  padding: 0px 0px 15px 0px;
  padding: 0rem 0rem 1.5rem 0rem;
}
/* line 189, ../sass/_template.scss */
.P15.PLeft {
  padding: 0px 0px 0px 15px;
  padding: 0rem 0rem 0rem 1.5rem;
}
/* line 192, ../sass/_template.scss */
.P15.PSide {
  padding: 0px 15px 0px 15px;
  padding: 0rem 1.5rem 0rem 1.5rem;
}

/* line 196, ../sass/_template.scss */
.P5 {
  padding: 5px;
  padding: 0.5rem;
}
/* line 198, ../sass/_template.scss */
.P5.PTop {
  padding: 5px 0px 0px 0px;
  padding: 0.5rem 0rem 0rem 0rem;
}
/* line 201, ../sass/_template.scss */
.P5.PBot {
  padding: 0px 0px 5px 0px;
  padding: 0rem 0rem 0.5rem 0rem;
}
/* line 204, ../sass/_template.scss */
.P5.PLeft {
  padding: 0px 0px 0px 5px;
  padding: 0rem 0rem 0rem 0.5rem;
}
/* line 207, ../sass/_template.scss */
.P5.PSide {
  padding: 0px 5px 0px 5px;
  padding: 0rem 0.5rem 0rem 0.5rem;
}

/* line 211, ../sass/_template.scss */
.M40 {
  margin: 40px;
  margin: 4rem;
}
/* line 213, ../sass/_template.scss */
.M40.MTop {
  margin: 40px 0px 0px 0px;
  margin: 4rem 0rem 0rem 0rem;
}
/* line 216, ../sass/_template.scss */
.M40.MBot {
  margin: 0px 0px 40px 0px;
  margin: 0rem 0rem 4rem 0rem;
}
/* line 219, ../sass/_template.scss */
.M40.MLeft {
  margin: 0px 0px 0px 40px;
  margin: 0rem 0rem 0rem 4rem;
}
/* line 222, ../sass/_template.scss */
.M40.MSide {
  margin: 0px 40px 0px 40px;
  margin: 0rem 4rem 0rem 4rem;
}

/* line 227, ../sass/_template.scss */
.letra_capital:first-letter {
  font-size: 2em;
}

/* line 231, ../sass/_template.scss */
.left {
  text-align: left;
}

/* line 234, ../sass/_template.scss */
.right {
  text-align: right;
}

/* line 239, ../sass/_template.scss */
html, body, #wrap {
  width: 100%;
  height: auto;
  font-family: "gentium";
  font-family: 16px;
  font-family: 1.6rem;
  color: #000000;
}

/* line 246, ../sass/_template.scss */
#warp {
  height: auto;
}

/* line 249, ../sass/_template.scss */
header {
  width: 100%;
  height: 240px;
  height: 24rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
/* line 256, ../sass/_template.scss */
header span {
  display: block;
  width: 100%;
  height: 40px;
  height: 4rem;
  padding: 5px;
  padding: 0.5rem;
  text-align: right;
}
/* line 262, ../sass/_template.scss */
header span a {
  display: inline-block;
  color: #575756;
  width: 100px;
  width: 10rem;
  height: 100%;
  text-align: right;
  vertical-align: middle;
  padding: 0px 10px 0px 0px;
  padding: 0rem 1rem 0rem 0rem;
  border-right: 1px inset #C0C0C0;
  font-size: 16px;
  font-size: 1.6rem;
}
/* line 273, ../sass/_template.scss */
header span a:last-child {
  border-right: none;
}
/* line 276, ../sass/_template.scss */
header span div {
  display: inline-block;
  width: 35px;
  width: 3.5rem;
  height: 20px;
  height: 2rem;
  margin: 5px 10px;
  margin: 0.5rem 1rem;
  overflow: hidden;
  vertical-align: middle;
}

/* line 290, ../sass/_template.scss */
#header-b {
  width: 100%;
  height: 200px;
  height: 20rem;
  background: url("../images/pattern.png") no-repeat;
  -webkit-box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.4);
  display: inline-block;
  text-align: left;
}
/* line 299, ../sass/_template.scss */
#header-b h2 {
  font-family: 'arimo';
  text-shadow: 1px 0px 0px black;
  font-size: 28px;
  font-size: 2.8rem;
  color: #FFFFFF;
  padding: 90px 125px 10px 125px;
  padding: 9rem 12.5rem 1rem 12.5rem;
  margin: 0px 0px 0px 270px;
  margin: 0rem 0rem 0rem 27rem;
  max-width: 900px;
  max-width: 90rem;
  display: inline-block;
  text-align: center;
}
/* line 310, ../sass/_template.scss */
#header-b nav {
  font-family: "museo";
  padding: 0px 125px 0px 125px;
  padding: 0rem 12.5rem 0rem 12.5rem;
  color: #FFFFFF;
  margin: 0px 0px 0px 270px;
  margin: 0rem 0rem 0rem 27rem;
  width: 100%;
  width: 754px;
  width: 75.4rem;
  height: 55px;
  height: 5.5rem;
  display: inline-block;
  text-align: center;
}
/* line 322, ../sass/_template.scss */
#header-b ul {
  display: inline-block;
  text-align: center;
  letter-spacing: 0;
  width: 100%;
  height: 100%;
  border-top: 1px #cb1417 inset;
  white-space: nowrap;
}
/* line 332, ../sass/_template.scss */
#header-b li {
  display: inline-block;
  width: 33.33%;
  height: 100%;
  letter-spacing: 0;
  vertical-align: top;
}
/* line 339, ../sass/_template.scss */
#header-b li:last-child a {
  text-align: right;
}
/* line 344, ../sass/_template.scss */
#header-b li:first-child a {
  text-align: left;
  vertical-align: middle;
}
/* line 351, ../sass/_template.scss */
#header-b li:nth-child(2) a {
  text-align: center;
}
/* line 357, ../sass/_template.scss */
#header-b li a {
  display: block;
  text-align: left;
  width: 100%;
  height: 100%;
  line-height: 55px;
  color: #FFFFFF;
  font-family: "museo";
  font-size: 22px;
  font-size: 2.2rem;
}
/* line 367, ../sass/_template.scss */
#header-b li span {
  display: inline-block;
  vertical-align: middle;
  width: 48px;
  width: 4.8rem;
  height: 48px;
  height: 4.8rem;
  overflow: hidden;
}

/* line 379, ../sass/_template.scss */
#logo {
  position: absolute;
  top: 0px;
  top: 0rem;
  left: 30px;
  left: 3rem;
  width: 280px;
  width: 28rem;
  height: 280px;
  height: 28rem;
}

/* line 390, ../sass/_template.scss */
#menu {
  width: 220px;
  width: 22rem;
  height: auto;
  position: absolute;
  left: 50px;
  left: 5rem;
  top: 340px;
  top: 34rem;
  z-index: 2;
}
/* line 397, ../sass/_template.scss */
#menu ul {
  width: 100%;
  height: 100%;
}
/* line 401, ../sass/_template.scss */
#menu li {
  width: 100%;
}
/* line 403, ../sass/_template.scss */
#menu li a {
  display: inline-block;
  width: 100%;
  height: 60px;
  height: 6rem;
  padding: 0px 15px;
  padding: 0rem 1.5rem;
  background-color: #d2d2d2;
  border-bottom: 1px #575756 inset;
  font-family: "museo";
  font-size: 20px;
  font-size: 2rem;
  color: #575756;
  line-height: 60px;
  white-space: nowrap;
}
/* line 415, ../sass/_template.scss */
#menu li a p, #menu li a span {
  display: inline-block;
}
/* line 418, ../sass/_template.scss */
#menu li a p {
  text-align: left;
}
/* line 421, ../sass/_template.scss */
#menu li a span {
  position: absolute;
  right: 0;
  margin: 5px 5px 0px 0px;
  margin: 0.5rem 0.5rem 0rem 0rem;
  width: 48px;
  width: 4.8rem;
  width: 48px;
  width: 4.8rem;
  overflow: hidden;
  vertical-align: middle;
}
/* line 432, ../sass/_template.scss */
#menu li:first-child a {
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
/* line 442, ../sass/_template.scss */
#menu li:last-child a {
  border-bottom: none;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* line 456, ../sass/_template.scss */
#container {
  width: 100%;
  height: auto;
  min-height: 1000px;
  min-height: 100rem;
  position: relative;
  top: 240px;
  top: 24rem;
  padding: 100px 50px 0px 370px;
  padding: 10rem 5rem 0rem 37rem;
  margin: 0px 0px 50px 0px;
  margin: 0rem 0rem 5rem 0rem;
  background: #FFFFFF;
  z-index: 0;
}

/* line 467, ../sass/_template.scss */
#content {
  height: auto;
  width: 654px;
  width: 65.4rem;
  position: relative;
}

/* line 472, ../sass/_template.scss */
footer {
  position: absolute;
  margin-top: 260px;
  margin-top: 26rem;
  width: 100%;
  height: 30px;
  height: 3rem;
  font-size: 16px;
  font-size: 1.6rem;
  background-color: #cb1417;
  color: #FFFFFF;
}

/* line 482, ../sass/_template.scss */
.category {
  width: 654px;
  width: 65.4rem;
  height: 360px;
  height: 36rem;
  margin-bottom: 40px;
  margin-bottom: 4rem;
  border-bottom: 1px #cb1417 inset;
  display: inline-block;
  text-align: left;
  white-space: nowrap;
  position: relative;
}
/* line 493, ../sass/_template.scss */
.category article {
  display: inline-block;
  position: relative;
  vertical-align: top;
  white-space: normal;
  text-align: left;
  width: 374px;
  width: 37.4rem;
  height: 100%;
}
/* line 501, ../sass/_template.scss */
.category article p {
  line-height: 1.3em;
}
/* line 504, ../sass/_template.scss */
.category article span {
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  margin-left: -85px;
  margin-left: -8.5rem;
}
/* line 513, ../sass/_template.scss */
.category article:hover {
  color: #f6a400;
}
/* line 516, ../sass/_template.scss */
.category img {
  display: inline-block;
  vertical-align: top;
  width: 230px;
  width: 23rem;
  height: 320px;
  height: 32rem;
  margin: 0px 50px 0px 0px;
  margin: 0rem 5rem 0rem 0rem;
}

/* line 524, ../sass/_template.scss */
.category:hover {
  color: #f6a400;
}

/* line 4, ../sass/_template_products.scss */
.item_detail {
  width: 100%;
  height: auto;
  text-align: left;
  vertical-align: top;
  white-space: nowrap;
  margin: 0px 0px 30px 0px;
  margin: 0rem 0rem 3rem 0rem;
  color: #FFFFFF;
}
/* line 13, ../sass/_template_products.scss */
.item_detail div {
  display: inline-block;
  width: 470px;
  width: 47rem;
  height: 100%;
  background: #cb1417;
  color: #FFFFFF;
  vertical-align: top;
  white-space: normal;
  padding: 20px;
  padding: 2rem;
}
/* line 23, ../sass/_template_products.scss */
.item_detail img {
  display: inline-block;
  vertical-align: middle;
  margin-left: -56px;
  margin-left: -5.6rem;
}
/* line 29, ../sass/_template_products.scss */
.item_detail h5 {
  margin: 0;
  color: #FFFFFF;
}

/* line 34, ../sass/_template_products.scss */
.collection {
  width: 100%;
}
/* line 36, ../sass/_template_products.scss */
.collection ul {
  overflow: hidden;
}
/* line 39, ../sass/_template_products.scss */
.collection li {
  width: 160px;
  height: 235px;
  float: left;
  border: 1px solid #C6C6C5;
  padding: 10px;
  padding: 1rem;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}
/* line 48, ../sass/_template_products.scss */
.collection li:hover {
  border: 4px solid #C01113;
}
/* line 51, ../sass/_template_products.scss */
.collection li img, .collection li a {
  display: block;
}
/* line 54, ../sass/_template_products.scss */
.collection li img {
  max-height: 168px;
  margin: 0 auto;
}
/* line 58, ../sass/_template_products.scss */
.collection li.active {
  border: 4px solid #C01113;
}

/* line 63, ../sass/_template_products.scss */
.itemInfo {
  display: none;
}

/* line 3, ../sass/_template_category.scss */
.section_wine h3 {
  width: 100%;
  height: 70px;
  height: 7rem;
  border-bottom: 1px #cb1417 inset;
  line-height: 50px;
  line-height: 5rem;
  position: relative;
}
/* line 9, ../sass/_template_category.scss */
.section_wine h3 img {
  position: absolute;
  top: 100%;
  right: 0;
  width: 35%;
}
/* line 16, ../sass/_template_category.scss */
.section_wine .item_collection {
  width: 654px;
  width: 65.4rem;
  height: auto;
  display: inline-block;
  margin-bottom: 40px;
  margin-bottom: 4rem;
  border-bottom: 1px #cb1417 inset;
  text-align: left;
  position: relative;
  padding: 0px 0px 40px 0px;
  padding: 0rem 0rem 4rem 0rem;
  margin: 0px 0px 40px 0px;
  margin: 0rem 0rem 4rem 0rem;
}
/* line 26, ../sass/_template_category.scss */
.section_wine .item_collection h5 {
  margin: 0;
}
/* line 30, ../sass/_template_category.scss */
.section_wine .item_single {
  width: 654px;
  width: 65.4rem;
  height: auto;
  display: inline-block;
  margin-bottom: 40px;
  margin-bottom: 4rem;
  border-bottom: 1px #cb1417 inset;
  text-align: left;
  position: relative;
  padding: 0px 0px 40px 0px;
  padding: 0rem 0rem 4rem 0rem;
  margin: 0px 0px 40px 0px;
  margin: 0rem 0rem 4rem 0rem;
  white-space: nowrap;
}
/* line 42, ../sass/_template_category.scss */
.section_wine .item_single h5 {
  margin: 0;
}
/* line 45, ../sass/_template_category.scss */
.section_wine .item_single div {
  display: inline-block;
  white-space: normal;
  width: 500px;
  width: 50rem;
}
/* line 49, ../sass/_template_category.scss */
.section_wine .item_single div p {
  white-space: normal;
}
/* line 51, ../sass/_template_category.scss */
.section_wine .item_single div p:last-child {
  padding-bottom: 0;
}
/* line 56, ../sass/_template_category.scss */
.section_wine .item_single img {
  display: inline-block;
  vertical-align: top;
}
/* line 63, ../sass/_template_category.scss */
.section_wine .uds {
  width: 100%;
  height: auto;
  white-space: nowrap;
  text-align: center;
  vertical-align: top;
}
/* line 69, ../sass/_template_category.scss */
.section_wine .uds div {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  height: auto;
  white-space: normal;
}
/* line 75, ../sass/_template_category.scss */
.section_wine .uds div.three {
  width: 33%;
}
/* line 78, ../sass/_template_category.scss */
.section_wine .uds div.two {
  width: 50%;
}
/* line 81, ../sass/_template_category.scss */
.section_wine .uds div p {
  font-size: 15px;
  font-size: 1.5rem;
  color: #575756;
  text-align: center;
  line-height: 1.2em;
}

/* line 94, ../sass/_template_category.scss */
.section_oil h3 img {
  position: absolute;
  top: -44%;
  left: 85%;
  width: 22%;
}

/* line 109, ../sass/_template_category.scss */
.section_cosmetic h5 {
  margin: 0;
}
/* line 112, ../sass/_template_category.scss */
.section_cosmetic h3 {
  height: 120px;
  height: 12rem;
}
/* line 114, ../sass/_template_category.scss */
.section_cosmetic h3 img {
  position: absolute;
  top: -44%;
  left: 85%;
  width: 22%;
}
