@charset "CP850";
/*tamaño fuento body*/
/*Font-Face*/
/*typo de cuerpo de texto*/
@font-face {
  font-family: 'gentium-bold';
  src: url("fonts/genbasb-webfont.eot");
  src: url("fonts/genbasb-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/genbasb-webfont.woff") format("woff"), url("fonts/genbasb-webfont.ttf") format("truetype"), url("fonts/genbasb-webfont.svg#webfont") format("svg");
}

@font-face {
  font-family: 'gentium';
  src: url("fonts/genbasr-webfont.eot");
  src: url("fonts/genbasr-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/genbasr-webfont.woff") format("woff"), url("fonts/genbasr-webfont.ttf") format("truetype"), url("fonts/genbasr-webfont.svg#webfont") format("svg");
}

/*Typo para enfatizar */
@font-face {
  font-family: 'museo';
  src: url("fonts/museo_slab_500_2-webfont.eot");
  src: url("fonts/museo_slab_500_2-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/museo_slab_500_2-webfont.woff") format("woff"), url("fonts/museo_slab_500_2-webfont.ttf") format("truetype"), url("fonts/museo_slab_500_2-webfont.svg#webfont") format("svg");
}

/*Typo brand */
@font-face {
  font-family: 'arimo';
  src: url("fonts/arimo-italic-webfont.eot");
  src: url("fonts/arimo-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/arimo-italic-webfont.woff") format("woff"), url("fonts/arimo-italic-webfont.ttf") format("truetype"), url("fonts/arimo-italic-webfont.svg#webfont") format("svg");
}

/* line 4, ../sass/main.scss */
html {
  font-size: 62.5%;
}

/*Mixins*/
/*Mixing para centrar con transform*/
/*Usar utilidades de compass*/
/* apply a natural box layout model to all elements 
(if supporting <IE8, use a pollyfill: https://github.com/Schepp/box-sizing-polyfill ) */
/* line 50, ../sass/main.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Normalizar estilo de todos los navegadores */
/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 22, ../sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 32, ../sass/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 41, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
/* line 52, ../sass/_normalize.scss */
[hidden],
template {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 66, ../sass/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 76, ../sass/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 88, ../sass/_normalize.scss */
a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 96, ../sass/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 105, ../sass/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 118, ../sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 127, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 136, ../sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 144, ../sass/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 152, ../sass/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 162, ../sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 174, ../sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 183, ../sass/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 191, ../sass/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 199, ../sass/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 208, ../sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 215, ../sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 219, ../sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 231, ../sass/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 239, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 251, ../sass/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 263, ../sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 274, ../sass/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 288, ../sass/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 300, ../sass/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 312, ../sass/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 327, ../sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 337, ../sass/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 347, ../sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 358, ../sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 371, ../sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 380, ../sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 390, ../sass/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 403, ../sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* reseteo */
/* line 1, ../sass/_reset.scss */
h1, h2, h3, h4, ul, li, body, html, div, p, a {
  margin: 0;
  padding: 0;
}

/* line 5, ../sass/_reset.scss */
ul, li {
  list-style: none;
}

/* line 8, ../sass/_reset.scss */
a {
  text-decoration: none;
  color: #000000;
}

/* line 12, ../sass/_reset.scss */
img {
  border: none;
  max-width: 100%;
  height: auto;
}

/*interactividad scroll-top */
/*guía de estilos, variables */
/*Theme´s color_____________________________________________________________________*/
/*rojo rgba(203,20,23,0),rgb(203,20,23) */
/*amarillo rgba(246,164,0,0),rgb(246,164,0), */
/*gris, neutro rgba(87,87,86,0),rgb(87,87,86),*/
/* Fonts_________________________________________________________*/
/* interactivity__________________________________________________*/
/*Estructura*/
/* de estilos*/
/* line 4, ../sass/_template.scss */
.titulos-section {
  font-family: "museo";
  font-size: 50px;
  font-size: 5rem;
  font-weight: normal;
  color: #cb1417;
}

/* line 10, ../sass/_template.scss */
.titulos-b {
  font-family: "museo";
  font-size: 30px;
  font-size: 3rem;
  color: #cb1417;
  font-weight: normal;
}

/* line 17, ../sass/_template.scss */
.titulos-c {
  font-family: "museo";
  font-size: 24px;
  font-size: 2.4rem;
  color: #cb1417;
  font-weight: normal;
}

/* line 24, ../sass/_template.scss */
.titulos-d {
  font-family: "museo";
  font-size: 20px;
  font-size: 2rem;
  color: #cb1417;
  font-weight: normal;
}

/* line 30, ../sass/_template.scss */
.titulos-e {
  font-family: "museo";
  font-size: 24px;
  font-size: 2.4rem;
  color: #6B6060;
  font-weight: normal;
}

/* line 37, ../sass/_template.scss */
.subtitulos {
  font-family: "gentium";
  font-size: 20px;
  font-size: 2rem;
  color: #cb1417;
}

/* line 43, ../sass/_template.scss */
.cuerpo_a {
  font-family: "gentium";
  font-size: 16px;
  font-size: 1.6rem;
  color: #000000;
}

/* line 48, ../sass/_template.scss */
.cuerpo_b {
  font-family: "gentium";
  font-size: 18px;
  font-size: 1.8rem;
  color: #000000;
  line-height: 1.4em;
}

/* line 54, ../sass/_template.scss */
.cuerpo_c {
  font-family: "museo";
  font-size: 16px;
  font-size: 1.6rem;
  color: #000000;
}

/* line 59, ../sass/_template.scss */
.cuerpo_d {
  font-family: "gentium";
  font-size: 20px;
  font-size: 2rem;
  color: #cb1417;
}

/* line 64, ../sass/_template.scss */
.strong {
  font-family: 'gentium-bold';
}

/* line 69, ../sass/_template.scss */
.btn {
  display: block;
  width: 170px;
  width: 17rem;
  height: 35px;
  height: 3.5rem;
  font-family: "museo";
  text-shadow: 1px 0px 0px black;
  font-size: 24px;
  font-size: 2.4rem;
  color: #FFFFFF;
  background-color: #ea1f22;
  border: 0px solid #000000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  line-height: 35px;
}

/* line 85, ../sass/_template.scss */
.btn:hover {
  color: #cb1417;
  background-color: #F89D07;
  /* Old Browsers */
}

/* line 90, ../sass/_template.scss */
.icon_a, .icon_b, .icon_c, .icon_d, .icon_e {
  display: inline-block;
  width: 48px;
  width: 4.8rem;
  height: 48px;
  height: 4.8rem;
  background-repeat: no-repeat;
  text-align: left;
  overflow: hidden;
}

/* line 100, ../sass/_template.scss */
.icon_a {
  background: url("../images/sprite.png") 0 0;
}

/* line 104, ../sass/_template.scss */
a:hover .icon_a {
  background: url("../images/sprite.png") 0 -48px;
}

/* line 108, ../sass/_template.scss */
.icon_b {
  background: url("../images/sprite.png") -48px 0;
}

/* line 112, ../sass/_template.scss */
a:hover .icon_b {
  background: url("../images/sprite.png") -48px -48px;
}

/* line 116, ../sass/_template.scss */
.icon_c {
  background: url("../images/sprite.png") -96px 0;
}

/* line 120, ../sass/_template.scss */
a:hover .icon_c {
  background: url("../images/sprite.png") -96px -48px;
}

/* line 124, ../sass/_template.scss */
.icon_d {
  background: url("../images/sprite.png") -144px 0;
}

/* line 128, ../sass/_template.scss */
a:hover .icon_d {
  background: url("../images/sprite.png") -144px -48px;
}

/* line 132, ../sass/_template.scss */
.icon_e {
  background: url("../images/sprite.png") -192px 0;
}

/* line 136, ../sass/_template.scss */
a:hover .icon_e {
  background: url("../images/sprite.png") -192px -48px;
}

/* line 140, ../sass/_template.scss */
.icon_f {
  background: url("../images/sprite.png") -240px 0px;
}

/* line 143, ../sass/_template.scss */
.icon_g {
  background: url("../images/sprite.png") -294px -14px;
}

/* line 146, ../sass/_template.scss */
.icon_h {
  background: url("../images/sprite.png") -342px -14px;
}

/* line 150, ../sass/_template.scss */
.P40 {
  padding: 40px;
  padding: 4rem;
}
/* line 152, ../sass/_template.scss */
.P40.PTop {
  padding: 40px 0px 0px 0px;
  padding: 4rem 0rem 0rem 0rem;
}
/* line 155, ../sass/_template.scss */
.P40.PBot {
  padding: 0px 0px 40px 0px;
  padding: 0rem 0rem 4rem 0rem;
}
/* line 158, ../sass/_template.scss */
.P40.PLeft {
  padding: 0px 0px 0px 40px;
  padding: 0rem 0rem 0rem 4rem;
}
/* line 161, ../sass/_template.scss */
.P40.PSide {
  padding: 0px 40px 0px 40px;
  padding: 0rem 4rem 0rem 4rem;
}

/* line 165, ../sass/_template.scss */
.P30 {
  padding: 30px;
  padding: 3rem;
}
/* line 167, ../sass/_template.scss */
.P30.PTop {
  padding: 30px 0px 0px 0px;
  padding: 3rem 0rem 0rem 0rem;
}
/* line 170, ../sass/_template.scss */
.P30.PBot {
  padding: 0px 0px 30px 0px;
  padding: 0rem 0rem 3rem 0rem;
}
/* line 173, ../sass/_template.scss */
.P30.PLeft {
  padding: 0px 0px 0px 30px;
  padding: 0rem 0rem 0rem 3rem;
}
/* line 176, ../sass/_template.scss */
.P30.PSide {
  padding: 0px 50px 0px 30px;
  padding: 0rem 5rem 0rem 3rem;
}

/* line 180, ../sass/_template.scss */
.P20 {
  padding: 20px;
  padding: 2rem;
}
/* line 182, ../sass/_template.scss */
.P20.PTop {
  padding: 20px 0px 0px 0px;
  padding: 2rem 0rem 0rem 0rem;
}
/* line 185, ../sass/_template.scss */
.P20.PBot {
  padding: 0px 0px 20px 0px;
  padding: 0rem 0rem 2rem 0rem;
}
/* line 188, ../sass/_template.scss */
.P20.PLeft {
  padding: 0px 0px 0px 20px;
  padding: 0rem 0rem 0rem 2rem;
}
/* line 191, ../sass/_template.scss */
.P20.PSide {
  padding: 0px 20px 0px 20px;
  padding: 0rem 2rem 0rem 2rem;
}

/* line 195, ../sass/_template.scss */
.P15 {
  padding: 15px;
  padding: 1.5rem;
}
/* line 197, ../sass/_template.scss */
.P15.PTop {
  padding: 15px 0px 0px 0px;
  padding: 1.5rem 0rem 0rem 0rem;
}
/* line 200, ../sass/_template.scss */
.P15.PBot {
  padding: 0px 0px 15px 0px;
  padding: 0rem 0rem 1.5rem 0rem;
}
/* line 203, ../sass/_template.scss */
.P15.PLeft {
  padding: 0px 0px 0px 15px;
  padding: 0rem 0rem 0rem 1.5rem;
}
/* line 206, ../sass/_template.scss */
.P15.PSide {
  padding: 0px 15px 0px 15px;
  padding: 0rem 1.5rem 0rem 1.5rem;
}

/* line 210, ../sass/_template.scss */
.P5 {
  padding: 5px;
  padding: 0.5rem;
}
/* line 212, ../sass/_template.scss */
.P5.PTop {
  padding: 5px 0px 0px 0px;
  padding: 0.5rem 0rem 0rem 0rem;
}
/* line 215, ../sass/_template.scss */
.P5.PBot {
  padding: 0px 0px 5px 0px;
  padding: 0rem 0rem 0.5rem 0rem;
}
/* line 218, ../sass/_template.scss */
.P5.PLeft {
  padding: 0px 0px 0px 5px;
  padding: 0rem 0rem 0rem 0.5rem;
}
/* line 221, ../sass/_template.scss */
.P5.PSide {
  padding: 0px 5px 0px 5px;
  padding: 0rem 0.5rem 0rem 0.5rem;
}

/* line 225, ../sass/_template.scss */
.M40 {
  margin: 40px;
  margin: 4rem;
}
/* line 227, ../sass/_template.scss */
.M40.MTop {
  margin: 40px 0px 0px 0px;
  margin: 4rem 0rem 0rem 0rem;
}
/* line 230, ../sass/_template.scss */
.M40.MBot {
  margin: 0px 0px 40px 0px;
  margin: 0rem 0rem 4rem 0rem;
}
/* line 233, ../sass/_template.scss */
.M40.MLeft {
  margin: 0px 0px 0px 40px;
  margin: 0rem 0rem 0rem 4rem;
}
/* line 236, ../sass/_template.scss */
.M40.MSide {
  margin: 0px 40px 0px 40px;
  margin: 0rem 4rem 0rem 4rem;
}

/* line 240, ../sass/_template.scss */
.M50 {
  margin: 50px;
  margin: 5rem;
}
/* line 242, ../sass/_template.scss */
.M50.MTop {
  margin: 50px 0px 0px 0px;
  margin: 5rem 0rem 0rem 0rem;
}
/* line 245, ../sass/_template.scss */
.M50.MBot {
  margin: 0px 0px 50px 0px;
  margin: 0rem 0rem 5rem 0rem;
}
/* line 248, ../sass/_template.scss */
.M50.MLeft {
  margin: 0px 0px 0px 50px;
  margin: 0rem 0rem 0rem 5rem;
}
/* line 251, ../sass/_template.scss */
.M50.MSide {
  margin: 0px 50px 0px 50px;
  margin: 0rem 5rem 0rem 5rem;
}

/* line 255, ../sass/_template.scss */
.M20 {
  margin: 20px;
  margin: 2rem;
}
/* line 257, ../sass/_template.scss */
.M20.MTop {
  margin: 20px 0px 0px 0px;
  margin: 2rem 0rem 0rem 0rem;
}
/* line 260, ../sass/_template.scss */
.M20.MBot {
  margin: 0px 0px 20px 0px;
  margin: 0rem 0rem 2rem 0rem;
}
/* line 263, ../sass/_template.scss */
.M20.MLeft {
  margin: 0px 0px 0px 20px;
  margin: 0rem 0rem 0rem 2rem;
}
/* line 266, ../sass/_template.scss */
.M20.MSide {
  margin: 0px 20px 0px 20px;
  margin: 0rem 2rem 0rem 2rem;
}

/* line 270, ../sass/_template.scss */
.letra_capital:first-letter {
  font-size: 2em;
}

/* line 274, ../sass/_template.scss */
.left {
  text-align: left;
}

/* line 277, ../sass/_template.scss */
.right {
  text-align: right;
}

/* line 282, ../sass/_template.scss */
html, body, #wrap {
  width: 100%;
  height: auto;
  font-family: "gentium";
  font-family: 16px;
  font-family: 1.6rem;
  color: #000000;
}

/* line 289, ../sass/_template.scss */
#warp {
  height: auto;
}

/* line 292, ../sass/_template.scss */
header {
  width: 100%;
  height: 240px;
  height: 24rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
/* line 299, ../sass/_template.scss */
header span {
  display: block;
  width: 100%;
  height: 40px;
  height: 4rem;
  padding: 5px;
  padding: 0.5rem;
  text-align: right;
}
/* line 305, ../sass/_template.scss */
header span a {
  display: inline-block;
  color: #575756;
  width: 100px;
  width: 10rem;
  height: 100%;
  text-align: right;
  vertical-align: middle;
  padding: 0px 10px 0px 0px;
  padding: 0rem 1rem 0rem 0rem;
  border-right: 1px inset #C0C0C0;
  font-size: 16px;
  font-size: 1.6rem;
}
/* line 316, ../sass/_template.scss */
header span a:last-child {
  border-right: none;
}
/* line 319, ../sass/_template.scss */
header span div {
  display: inline-block;
  width: 35px;
  width: 3.5rem;
  height: 20px;
  height: 2rem;
  margin: 5px 10px;
  margin: 0.5rem 1rem;
  overflow: hidden;
  vertical-align: middle;
}

/* line 333, ../sass/_template.scss */
.rawpper_header {
  width: 100%;
  height: 200px;
  height: 20rem;
  background: url("../images/pattern.png") no-repeat;
  -webkit-box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.4);
  display: inline-block;
  text-align: left;
  position: relative;
}

/* line 345, ../sass/_template.scss */
#header-b {
  height: 100%;
  display: block;
  width: 1260px;
  position: relative;
  margin: 0 auto;
}
/* line 351, ../sass/_template.scss */
#header-b div {
  width: 500px;
  width: 50rem;
  height: 100%;
  padding-top: 75px;
  padding-top: 7.5rem;
  margin: 0 auto;
  text-align: left;
}
/* line 358, ../sass/_template.scss */
#header-b h2 {
  font-family: 'gentium';
  width: 100%;
  text-shadow: 1px 0px 0px black;
  font-size: 33px;
  font-size: 3.3rem;
  color: #FFFFFF;
  padding: 0px 0px 14px 0px;
  padding: 0rem 0rem 1.4rem 0rem;
  display: inline-block;
  text-align: center;
}
/* line 368, ../sass/_template.scss */
#header-b nav {
  width: 100%;
  font-family: "museo";
  padding: 0px 0px 0px;
  padding: 0rem 0rem 0rem;
  color: #FFFFFF;
  margin: 0px 0px 0px 0px;
  margin: 0rem 0rem 0rem 0rem;
  width: 100%;
  height: 55px;
  height: 5.5rem;
  display: inline-block;
  text-align: center;
}
/* line 380, ../sass/_template.scss */
#header-b ul {
  display: inline-block;
  text-align: center;
  letter-spacing: 0;
  width: 100%;
  height: 100%;
  border-top: 1px #cb1417 inset;
  white-space: nowrap;
}
/* line 390, ../sass/_template.scss */
#header-b li {
  display: inline-block;
  width: 33.33%;
  height: 100%;
  letter-spacing: 0;
  vertical-align: top;
}
/* line 397, ../sass/_template.scss */
#header-b li:last-child a {
  text-align: right;
}
/* line 402, ../sass/_template.scss */
#header-b li:first-child a {
  text-align: left;
  vertical-align: middle;
}
/* line 409, ../sass/_template.scss */
#header-b li:nth-child(2) a {
  text-align: center;
}
/* line 415, ../sass/_template.scss */
#header-b li a {
  display: block;
  text-align: left;
  width: 100%;
  height: 100%;
  line-height: 55px;
  color: #FFFFFF;
  font-family: "museo";
  font-size: 22px;
  font-size: 2.2rem;
}
/* line 425, ../sass/_template.scss */
#header-b li span {
  display: inline-block;
  vertical-align: middle;
  width: 48px;
  width: 4.8rem;
  height: 48px;
  height: 4.8rem;
  overflow: hidden;
}

/* line 437, ../sass/_template.scss */
#logo {
  position: absolute;
  top: -40px;
  top: -4rem;
  width: 280px;
  width: 28rem;
  height: 280px;
  height: 28rem;
  margin-left: -630px;
  margin-left: -63rem;
  left: 50%;
}

/* line 446, ../sass/_template.scss */
.head-res {
  display: none;
}

/* line 451, ../sass/_template.scss */
#menu {
  width: 220px;
  width: 22rem;
  height: auto;
  position: absolute;
  margin-left: -600px;
  margin-left: -60rem;
  top: 0px;
  top: 0rem;
  left: 50%;
  z-index: 2;
}
/* line 459, ../sass/_template.scss */
#menu ul {
  width: 100%;
  height: 100%;
}
/* line 463, ../sass/_template.scss */
#menu li {
  width: 100%;
}
/* line 465, ../sass/_template.scss */
#menu li a {
  display: inline-block;
  width: 100%;
  height: 60px;
  height: 6rem;
  padding: 0px 15px;
  padding: 0rem 1.5rem;
  background: #efedf3;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNlZmVkZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZDZkMmQ2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-radial-gradient(center, ellipse cover, #efedf3 0%, #d6d2d6 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #efedf3), color-stop(100%, #d6d2d6));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #efedf3 0%, #d6d2d6 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #efedf3 0%, #d6d2d6 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #efedf3 0%, #d6d2d6 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #efedf3 0%, #d6d2d6 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efedf3', endColorstr='#d6d2d6',GradientType=1 );
  /* IE6-8 fallback on horizontal gradient */
  border-bottom: 1px #A8A8A5 inset;
  font-family: "museo";
  font-size: 20px;
  font-size: 2rem;
  color: #575756;
  line-height: 60px;
  white-space: nowrap;
}
/* line 486, ../sass/_template.scss */
#menu li a p, #menu li a span {
  display: inline-block;
}
/* line 489, ../sass/_template.scss */
#menu li a p {
  text-align: left;
}
/* line 492, ../sass/_template.scss */
#menu li a span {
  position: absolute;
  right: 0;
  margin: 5px 5px 0px 0px;
  margin: 0.5rem 0.5rem 0rem 0rem;
  width: 48px;
  width: 4.8rem;
  width: 48px;
  width: 4.8rem;
  overflow: hidden;
  vertical-align: middle;
}
/* line 503, ../sass/_template.scss */
#menu li a:hover {
  color: #FFFFFF;
  background: #8f9190;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM4ZjkxOTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNTc1NzU2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-radial-gradient(center, ellipse cover, #8f9190 0%, #575756 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #8f9190), color-stop(100%, #575756));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #8f9190 0%, #575756 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #8f9190 0%, #575756 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #8f9190 0%, #575756 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #8f9190 0%, #575756 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8f9190', endColorstr='#575756',GradientType=1 );
  /* IE6-8 fallback on horizontal gradient */
}
/* line 518, ../sass/_template.scss */
#menu li:first-child a {
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
/* line 528, ../sass/_template.scss */
#menu li:last-child a {
  border-bottom: none;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* line 542, ../sass/_template.scss */
#container {
  width: 100%;
  min-width: 1260px;
  position: relative;
  height: auto;
  margin: 340px 0px 50px 0px;
  margin: 34rem 0rem 5rem 0rem;
  background: #FFFFFF;
  z-index: 0;
}

/* line 551, ../sass/_template.scss */
#content {
  height: auto;
  width: 654px;
  width: 65.4rem;
  margin: 0 auto;
  position: relative;
}

/* line 557, ../sass/_template.scss */
footer {
  width: 100%;
  height: 40px;
  height: 4rem;
  font-size: 16px;
  font-size: 1.6rem;
  background-color: #cb1417;
  color: #FFFFFF;
  padding: 5px 5px 5px 30px;
  padding: 0.5rem 0.5rem 0.5rem 3rem;
}

/* line 566, ../sass/_template.scss */
.category {
  width: 654px;
  width: 65.4rem;
  height: 360px;
  height: 36rem;
  margin-bottom: 40px;
  margin-bottom: 4rem;
  border-bottom: 1px #cb1417 inset;
  display: inline-block;
  text-align: left;
  white-space: nowrap;
  position: relative;
}
/* line 577, ../sass/_template.scss */
.category article {
  display: inline-block;
  position: relative;
  vertical-align: top;
  white-space: normal;
  text-align: left;
  width: 374px;
  width: 37.4rem;
  height: 100%;
}
/* line 585, ../sass/_template.scss */
.category article p {
  line-height: 1.3em;
}
/* line 588, ../sass/_template.scss */
.category article span {
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  margin-left: -85px;
  margin-left: -8.5rem;
}
/* line 597, ../sass/_template.scss */
.category img {
  display: inline-block;
  vertical-align: top;
  width: 230px;
  width: 23rem;
  height: 320px;
  height: 32rem;
  margin: 0px 50px 0px 0px;
  margin: 0rem 5rem 0rem 0rem;
}

/*__________Migas de pan*/
/* line 608, ../sass/_template.scss */
.miga {
  display: block;
  overflow: hidden;
  margin: 20px 0px;
  margin: 2rem 0rem;
  position: absolute;
  top: -100px;
}
/* line 614, ../sass/_template.scss */
.miga li {
  float: left;
  font-size: 20px;
  font-size: 2rem;
}
/* line 617, ../sass/_template.scss */
.miga li a {
  color: #FF7E80;
}
/* line 619, ../sass/_template.scss */
.miga li a:hover {
  text-decoration: underline;
}
/* line 625, ../sass/_template.scss */
.miga li:last-child a {
  color: #cb1417;
}

/* line 1, ../sass/_contact.scss */
#container_contact {
  max-width: 924px;
  max-width: 92.4rem;
  height: auto;
  padding: 100px 50px 100px;
  padding: 10rem 5rem 10rem;
  vertical-align: top;
  text-align: left;
  white-space: nowrap;
  margin: 240px auto 0;
}

/* line 10, ../sass/_contact.scss */
#contact {
  width: 60%;
  height: auto;
  padding: 0px 50px;
  padding: 0rem 5rem;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  white-space: normal;
  border-left: 1px dashed #A39E9E;
}
/* line 16, ../sass/_contact.scss */
#contact h3 + p {
  color: #000000;
}

/* line 23, ../sass/_contact.scss */
#contact + div {
  width: 40%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}

/* line 32, ../sass/_contact.scss */
form {
  width: 100%;
  height: auto;
}
/* line 35, ../sass/_contact.scss */
form label {
  display: block;
}
/* line 38, ../sass/_contact.scss */
form input {
  width: 80%;
  min-width: 240px;
  min-width: 24rem;
  height: 36px;
  height: 3.6rem;
  background: #E3E4E0;
  margin-bottom: 20px;
  margin-bottom: 2rem;
}
/* line 45, ../sass/_contact.scss */
form textarea {
  width: 100%;
  min-height: 155px;
  min-height: 15.5rem;
  margin-bottom: 30px;
  margin-bottom: 3rem;
  background: #E3E4E0;
}
/* line 51, ../sass/_contact.scss */
form input[type=submit] {
  width: 145px;
  width: 14.5rem;
  height: 36px;
  height: 3.6rem;
  min-width: 0px;
  min-width: 0rem;
  margin: 0px;
  margin: 0rem;
  padding: 0px;
  padding: 0rem;
}

/* line 1, ../sass/_about.scss */
#container_about {
  width: 100%;
  height: auto;
  padding: 50px 50px 100px 50px;
  padding: 5rem 5rem 10rem 5rem;
  vertical-align: top;
  text-align: left;
}
/* line 8, ../sass/_about.scss */
#container_about section {
  width: 924px;
  height: auto;
  z-index: 0;
  margin: 0 auto;
}
/* line 15, ../sass/_about.scss */
#container_about article {
  width: 100%;
  height: auto;
  text-align: left;
  vertical-align: top;
  white-space: nowrap;
  border-bottom: 1px solid #cb1417;
  margin-bottom: 15px;
  margin-bottom: 1.5rem;
}
/* line 24, ../sass/_about.scss */
#container_about article div {
  width: 60%;
  height: auto;
  display: inline-block;
  white-space: normal;
  padding: 0px 0px 30px 20px;
  padding: 0rem 0rem 3rem 2rem;
}
/* line 30, ../sass/_about.scss */
#container_about article div img {
  border-radius: 0;
  text-align: center;
  display: inline-block;
  width: 100%;
  height: auto;
}
/* line 37, ../sass/_about.scss */
#container_about article div ul {
  padding: 0px 0px 20px 30px;
  padding: 0rem 0rem 2rem 3rem;
}
/* line 41, ../sass/_about.scss */
#container_about article img {
  width: 20%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  -webkit-box-shadow: 0px -1px 2px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px -1px 2px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px -1px 2px 0px rgba(50, 50, 50, 0.75);
}
/* line 53, ../sass/_about.scss */
#container_about p {
  padding-bottom: 15px;
  padding-bottom: 1.5rem;
}
/* line 57, ../sass/_about.scss */
#container_about h4 {
  padding-bottom: 30px;
  padding-bottom: 3rem;
}

/* line 62, ../sass/_about.scss */
#cabecera {
  display: block;
  width: 1200px;
  width: 120rem;
  z-index: 1;
  height: 350px;
  height: 35rem;
  margin: 240px auto 0;
  position: relative;
}
/* line 69, ../sass/_about.scss */
#cabecera img {
  position: absolute;
  left: 50%;
  margin-left: -400px;
  margin-left: -40rem;
  text-align: center;
  z-index: 2;
}
/* line 76, ../sass/_about.scss */
#cabecera h3 {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  z-index: 3;
}

/* line 84, ../sass/_about.scss */
#cabecera:after {
  content: "";
  position: absolute;
  width: 1920px;
  width: 192rem;
  left: 50%;
  margin-left: -960px;
  margin-left: -96rem;
  height: 350px;
  height: 35rem;
  z-index: 0;
  background: #DDDED8;
}

/* line 4, ../sass/_template_products.scss */
.item_detail {
  width: 100%;
  height: 450px;
  height: 45rem;
  text-align: left;
  vertical-align: top;
  white-space: nowrap;
  margin: 0px 0px 30px 0px;
  margin: 0rem 0rem 3rem 0rem;
  color: #FFFFFF;
  overflow: hidden;
}
/* line 14, ../sass/_template_products.scss */
.item_detail div {
  display: inline-block;
  overflow-y: scroll;
  width: 380px;
  width: 38rem;
  height: 100%;
  background: #DBDBDB;
  color: #6f6e6c;
  vertical-align: top;
  white-space: normal;
  padding: 20px;
  padding: 2rem;
}
/* line 25, ../sass/_template_products.scss */
.item_detail img {
  display: inline-block;
  vertical-align: middle;
}
/* line 29, ../sass/_template_products.scss */
.item_detail h5 {
  margin: 0;
}
/* line 32, ../sass/_template_products.scss */
.item_detail a {
  display: block;
}

/* line 36, ../sass/_template_products.scss */
.img_product {
  display: inline-block;
  vertical-align: middle;
  width: 184px;
  width: 18.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
}
/* line 43, ../sass/_template_products.scss */
.img_product img {
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-left: -16%;
}

/* line 50, ../sass/_template_products.scss */
.collection {
  width: 100%;
}
/* line 52, ../sass/_template_products.scss */
.collection ul {
  width: 100%;
  height: auto;
  display: inline-block;
  text-align: left;
  white-space: nowrap;
  z-index: 1;
}
/* line 60, ../sass/_template_products.scss */
.collection li {
  width: 160px;
  height: auto;
  border: 1px solid #C6C6C5;
  padding: 10px;
  padding: 1rem;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  white-space: normal;
  display: inline-block;
  vertical-align: top;
}
/* line 71, ../sass/_template_products.scss */
.collection li:hover {
  border: 4px solid #C01113;
}
/* line 74, ../sass/_template_products.scss */
.collection li img, .collection li a {
  display: block;
}
/* line 77, ../sass/_template_products.scss */
.collection li img {
  max-height: 168px;
  margin: 0 auto;
}
/* line 81, ../sass/_template_products.scss */
.collection li.active {
  border: 4px solid #C01113;
}
/* line 84, ../sass/_template_products.scss */
.collection li a {
  font-size: 15px;
  font-size: 1.5rem;
  color: #575756;
  text-align: center;
  line-height: 1.2em;
  display: block;
  height: 40px;
  height: 4rem;
}
/* line 93, ../sass/_template_products.scss */
.collection li p a {
  text-decoration: overline;
}

/* line 100, ../sass/_template_products.scss */
.itemInfo {
  display: none;
}

/* line 103, ../sass/_template_products.scss */
.list {
  width: 100%;
  height: auto;
  padding: 25px;
  padding: 2.5rem;
  margin-bottom: 50px;
  margin-bottom: 5rem;
  background-color: #F2F7FC;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #CBD9E4;
  color: #575756;
}
/* line 114, ../sass/_template_products.scss */
.list li {
  width: inherit;
  height: inherit;
  padding: 0px 0px 25px 0px;
  padding: 0rem 0rem 2.5rem 0rem;
  display: inline-block;
}
/* line 120, ../sass/_template_products.scss */
.list li:first-line {
  text-decoration: underline;
  font-size: 18px;
  font-size: 1.8rem;
  font-family: 'gentium-bold';
  padding-bottom: 10px;
  padding-bottom: 1rem;
}

/* line 127, ../sass/_template_products.scss */
.product_single {
  width: 100%;
  height: auto;
  text-align: left;
  vertical-align: top;
  white-space: nowrap;
  margin: 0px 0px 30px 0px;
  margin: 0rem 0rem 3rem 0rem;
  color: #FFFFFF;
}
/* line 135, ../sass/_template_products.scss */
.product_single .legend {
  display: inline-block;
  width: 470px;
  width: 47rem;
  height: 450px;
  height: 45rem;
  background: #DBDBDB;
  color: #6f6e6c;
  vertical-align: top;
  white-space: normal;
  padding: 20px;
  padding: 2rem;
  overflow-y: scroll;
}
/* line 146, ../sass/_template_products.scss */
.product_single h5 {
  margin: 0;
}
/* line 149, ../sass/_template_products.scss */
.product_single .img_product {
  display: inline-block;
  vertical-align: middle;
  width: 184px;
  width: 18.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
}
/* line 156, ../sass/_template_products.scss */
.product_single .img_product img {
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-left: -16%;
}

/* line 166, ../sass/_template_products.scss */
.section_cosmectics .item_detail div {
  width: 400px;
  width: 40rem;
}
/* line 169, ../sass/_template_products.scss */
.section_cosmectics .item_detail img {
  width: 254px;
  width: 25.4rem;
}

/* line 174, ../sass/_template_products.scss */
table {
  width: 100%;
  height: auto;
  border: 1px solid #C0C0C0;
  border-collapse: collapse;
}
/* line 179, ../sass/_template_products.scss */
table th, table td {
  width: 25%;
  text-align: left;
  border: 1px solid #C0C0C0;
  border-collapse: collapse;
  padding: 2px 5px;
  padding: 0.2rem 0.5rem;
}

/* line 3, ../sass/_template_category.scss */
.section_wine h3 {
  width: 100%;
  height: 50px;
  height: 5rem;
  border-bottom: 1px #cb1417 inset;
  line-height: 50px;
  line-height: 5rem;
  position: relative;
}
/* line 9, ../sass/_template_category.scss */
.section_wine h3 img {
  position: absolute;
  top: 100%;
  right: 0;
  width: 19%;
}
/* line 16, ../sass/_template_category.scss */
.section_wine h5 {
  margin: 0;
}
/* line 19, ../sass/_template_category.scss */
.section_wine .item_collection {
  width: 654px;
  width: 65.4rem;
  height: auto;
  display: inline-block;
  margin-bottom: 40px;
  margin-bottom: 4rem;
  border-bottom: 1px #cb1417 inset;
  text-align: left;
  position: relative;
  padding: 0px 0px 40px 0px;
  padding: 0rem 0rem 4rem 0rem;
  margin: 0px 0px 40px 0px;
  margin: 0rem 0rem 4rem 0rem;
}
/* line 29, ../sass/_template_category.scss */
.section_wine .item_collection h5 {
  margin: 0;
}
/* line 32, ../sass/_template_category.scss */
.section_wine .item_collection a {
  display: block;
}
/* line 34, ../sass/_template_category.scss */
.section_wine .item_collection a:hover {
  color: #878A77;
}
/* line 36, ../sass/_template_category.scss */
.section_wine .item_collection a:hover h4, .section_wine .item_collection a:hover h5 {
  color: #878A77;
}
/* line 42, ../sass/_template_category.scss */
.section_wine .item_single {
  width: 654px;
  width: 65.4rem;
  height: auto;
  display: inline-block;
  margin-bottom: 40px;
  margin-bottom: 4rem;
  border-bottom: 1px #cb1417 inset;
  text-align: left;
  position: relative;
  padding: 0px 0px 40px 0px;
  padding: 0rem 0rem 4rem 0rem;
  margin: 0px 0px 40px 0px;
  margin: 0rem 0rem 4rem 0rem;
  white-space: nowrap;
  display: block;
}
/* line 55, ../sass/_template_category.scss */
.section_wine .item_single h5 {
  margin: 0;
}
/* line 58, ../sass/_template_category.scss */
.section_wine .item_single div {
  display: inline-block;
  white-space: normal;
  width: 500px;
  width: 50rem;
}
/* line 62, ../sass/_template_category.scss */
.section_wine .item_single div p {
  white-space: normal;
}
/* line 64, ../sass/_template_category.scss */
.section_wine .item_single div p:last-child {
  padding-bottom: 0;
}
/* line 69, ../sass/_template_category.scss */
.section_wine .item_single img {
  display: inline-block;
  vertical-align: top;
}
/* line 73, ../sass/_template_category.scss */
.section_wine .item_single a {
  display: block;
}
/* line 75, ../sass/_template_category.scss */
.section_wine .item_single a:hover {
  color: #878A77;
}
/* line 77, ../sass/_template_category.scss */
.section_wine .item_single a:hover h4, .section_wine .item_single a:hover h5 {
  color: #878A77;
}
/* line 84, ../sass/_template_category.scss */
.section_wine .uds {
  width: 100%;
  height: auto;
  white-space: nowrap;
  text-align: center;
  vertical-align: top;
}
/* line 90, ../sass/_template_category.scss */
.section_wine .uds div {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  height: auto;
  white-space: normal;
}
/* line 96, ../sass/_template_category.scss */
.section_wine .uds div.three {
  width: 33%;
}
/* line 99, ../sass/_template_category.scss */
.section_wine .uds div.two {
  width: 50%;
}
/* line 102, ../sass/_template_category.scss */
.section_wine .uds div p {
  font-size: 15px;
  font-size: 1.5rem;
  color: #575756;
  text-align: center;
  line-height: 1.2em;
}

/* line 116, ../sass/_template_category.scss */
.section_oil h3 img {
  position: absolute;
  top: -44%;
  left: 85%;
  width: 22%;
}
/* line 123, ../sass/_template_category.scss */
.section_oil .img_product {
  width: 50%;
  height: 450px;
  height: 45rem;
}
/* line 126, ../sass/_template_category.scss */
.section_oil .img_product img {
  margin: 0;
}
/* line 130, ../sass/_template_category.scss */
.section_oil .legend {
  width: 50%;
  overflow-y: visible;
}
/* line 136, ../sass/_template_category.scss */
.section_oil .list li {
  text-decoration: underline;
  font-family: 'gentium-bold';
  cursor: pointer;
}

/* line 146, ../sass/_template_category.scss */
.section_cosmetic h5 {
  margin: 0;
}
/* line 149, ../sass/_template_category.scss */
.section_cosmetic h3 {
  height: 120px;
  height: 12rem;
}
/* line 151, ../sass/_template_category.scss */
.section_cosmetic h3 img {
  position: absolute;
  top: 100%;
  left: 85%;
  width: 22%;
}
/* line 159, ../sass/_template_category.scss */
.section_cosmetic .collection li {
  width: 16%;
  height: auto;
}
/* line 163, ../sass/_template_category.scss */
.section_cosmetic .collection a {
  height: 60px;
  height: 6rem;
}

/* line 169, ../sass/_template_category.scss */
.section_gourmet h5 {
  margin: 0;
}
/* line 172, ../sass/_template_category.scss */
.section_gourmet h3 {
  position: relative;
}
/* line 174, ../sass/_template_category.scss */
.section_gourmet h3 img {
  position: absolute;
  top: -145%;
  right: -2%;
  width: 28%;
}

/*_________________iphone*/
@media only screen and (max-width: 480px) {
  /* line 3, ../sass/_responsive.scss */
  header {
    display: none;
  }

  /* line 6, ../sass/_responsive.scss */
  .miga {
    display: none;
  }

  /* line 9, ../sass/_responsive.scss */
  .head-res {
    display: block;
  }

  /*_________estilos generales*/
  /* line 13, ../sass/_responsive.scss */
  .titulos-b {
    font-size: 20px;
    font-size: 2rem;
  }

  /* line 16, ../sass/_responsive.scss */
  h5.titulos-d {
    color: #878A77;
  }

  /* line 19, ../sass/_responsive.scss */
  .titulos-b.P15 {
    padding: 0px 0px 5px 0px;
    padding: 0rem 0rem 0.5rem 0rem;
  }

  /* line 22, ../sass/_responsive.scss */
  .head-res {
    position: relative;
    height: 90px;
    height: 9rem;
    background: url("../images/pattern.png") no-repeat;
  }
  /* line 27, ../sass/_responsive.scss */
  .head-res .main-res img {
    width: 90px;
    width: 9rem;
    vertical-align: middle;
  }
  /* line 31, ../sass/_responsive.scss */
  .head-res .main-res h1 {
    width: 45%;
    display: inline-block;
    vertical-align: middle;
    color: #FFFFFF;
    font-size: 16px;
    font-size: 1.6rem;
  }
  /* line 38, ../sass/_responsive.scss */
  .head-res .main-res span {
    display: inline-block;
    width: 30px;
    width: 3rem;
    height: 50px;
    height: 5rem;
    margin-left: 30px;
    margin-left: 3rem;
    vertical-align: middle;
    cursor: pointer;
  }
  /* line 45, ../sass/_responsive.scss */
  .head-res .main-res span:after {
    content: "";
    width: 100%;
    height: 3px;
    display: inline-block;
    -webkit-box-shadow: 0px 5px 0px 0px white, 0px 15px 0px 0px white, 0px 25px 0px 0px white;
    -moz-box-shadow: 0px 5px 0px 0px white, 0px 15px 0px 0px white, 0px 25px 0px 0px white;
    box-shadow: 0px 5px 0px 0px white, 0px 15px 0px 0px white, 0px 25px 0px 0px white;
  }
  /* line 56, ../sass/_responsive.scss */
  .head-res .menu-res {
    width: 100%;
    height: 0;
    position: absolute;
    top: 90px;
    top: 9rem;
    background: rgba(255, 255, 255, 0.94);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    overflow: hidden;
    z-index: 6;
  }
  /* line 66, ../sass/_responsive.scss */
  .head-res .menu-res ul {
    width: inherit;
  }
  /* line 68, ../sass/_responsive.scss */
  .head-res .menu-res ul li {
    width: inherit;
    text-align: center;
    border-bottom: 1px solid #EFEFEF;
    padding: 10px;
    padding: 1rem;
    font-size: 20px;
    font-size: 2rem;
    font-family: 'museo';
    overflow: hidden;
  }
  /* line 76, ../sass/_responsive.scss */
  .head-res .menu-res ul li div {
    width: 50%;
    float: left;
  }
  /* line 80, ../sass/_responsive.scss */
  .head-res .menu-res ul li:last-child {
    border-bottom: 3px solid #cc0c0c;
  }
  /* line 85, ../sass/_responsive.scss */
  .head-res .menu-res.active {
    height: 312px;
  }

  /* line 90, ../sass/_responsive.scss */
  #container {
    width: 100%;
    min-width: 100%;
    margin: 0;
    padding: 20px 20px 10px 20px;
    padding: 2rem 2rem 1rem 2rem;
  }
  /* line 95, ../sass/_responsive.scss */
  #container #content {
    width: 100%;
  }
  /* line 98, ../sass/_responsive.scss */
  #container .category {
    width: 100%;
    height: auto;
  }
  /* line 101, ../sass/_responsive.scss */
  #container .category img {
    width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  /* line 107, ../sass/_responsive.scss */
  #container .category article {
    width: inherit;
    margin-top: 10px;
    margin-top: 1rem;
  }
  /* line 110, ../sass/_responsive.scss */
  #container .category article span {
    position: static;
    margin: auto;
  }
  /* line 116, ../sass/_responsive.scss */
  #container .img_product {
    display: block;
    width: 100%;
    height: auto;
  }
  /* line 120, ../sass/_responsive.scss */
  #container .img_product img {
    width: 50%;
    margin: 0 auto;
  }
  /* line 125, ../sass/_responsive.scss */
  #container .cuerpo_c {
    width: 100%;
    display: block;
    margin-top: 10px;
  }
  /* line 130, ../sass/_responsive.scss */
  #container .cuerpo_b {
    width: 100%;
    margin-bottom: 10px;
    margin-bottom: 1rem;
  }
  /* line 135, ../sass/_responsive.scss */
  #container .section_wine h3 {
    font-size: 25px;
    font-size: 2.5rem;
    line-height: 1;
    height: auto;
    margin-bottom: 10px;
  }
  /* line 142, ../sass/_responsive.scss */
  #container .section_wine .uds div {
    float: left;
  }
  /* line 147, ../sass/_responsive.scss */
  #container .section_wine .item_single img {
    width: 50%;
    display: block;
    margin: 0 auto;
  }
  /* line 152, ../sass/_responsive.scss */
  #container .section_wine .item_single div {
    width: 100%;
    margin-top: 10px;
  }
  /* line 155, ../sass/_responsive.scss */
  #container .section_wine .item_single div h4 {
    padding-bottom: 10px;
    padding-bottom: 1rem;
  }
  /* line 161, ../sass/_responsive.scss */
  #container .product_single {
    overflow: hidden;
  }
  /* line 163, ../sass/_responsive.scss */
  #container .product_single .img_product {
    width: 40%;
    float: left;
  }
  /* line 166, ../sass/_responsive.scss */
  #container .product_single .img_product img {
    width: 100%;
  }
  /* line 170, ../sass/_responsive.scss */
  #container .product_single .legend {
    width: 60%;
    float: left;
  }
  /* line 176, ../sass/_responsive.scss */
  #container .item_detail img {
    width: 40%;
    float: left;
  }
  /* line 180, ../sass/_responsive.scss */
  #container .item_detail div {
    width: 60%;
    float: left;
  }
  /* line 186, ../sass/_responsive.scss */
  #container .collection ul {
    display: table;
  }
  /* line 189, ../sass/_responsive.scss */
  #container .collection li {
    display: table-cell;
    width: 25%;
  }
  /* line 192, ../sass/_responsive.scss */
  #container .collection li a {
    height: auto;
  }

  /* line 198, ../sass/_responsive.scss */
  #back-top {
    bottom: 20px;
    position: fixed;
    right: 30px;
    z-index: 2050;
  }

  /* line 204, ../sass/_responsive.scss */
  #back-top a {
    display: block;
    transition: all 0.5s ease 0s;
    width: 48px;
    height: 48px;
    border-radius: 50px;
    background: rgba(214, 53, 53, 0.91) url("../images/arrowUp.png") center center no-repeat;
  }

  /*______________contacto*/
  /* line 215, ../sass/_responsive.scss */
  #container_contact {
    margin: 0;
    padding: 20px;
    padding: 2rem;
  }
  /* line 218, ../sass/_responsive.scss */
  #container_contact #contact {
    width: 100%;
    padding: 0px 0px 0px 5px;
    padding: 0rem 0rem 0rem 0.5rem;
    border: none;
  }
  /* line 222, ../sass/_responsive.scss */
  #container_contact #contact + div {
    display: none;
  }
  /* line 226, ../sass/_responsive.scss */
  #container_contact h3 {
    padding: 0;
  }
  /* line 229, ../sass/_responsive.scss */
  #container_contact .P30.PBot {
    padding: 0;
  }
  /* line 232, ../sass/_responsive.scss */
  #container_contact form {
    margin-top: 10px;
  }
}
